* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Animations */
img,
p,
h1,
h2,
h5 {
  animation-name: fadeInUp;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
p,
h1,
h2,
h5 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Button Hover Effect */
button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 2px rgba(255, 0, 111, 0.5);
}

/* Navbar */
.navbar {
  height: 45px;
}

.logo {
  width: 150px;
  height: 35px;
}

/* Introduction Section */
.intro-section {
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(59, 55, 55);
}

.text-section {
  color: white;
}

.text-section h1 {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.text-section .intro-paragraph {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px;
  width: 80%;
}

.images {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.images div {
  margin: 0 5px;
}

.images img {
  max-width: 50%;
  height: auto;
}

.img-info p {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  width: 100;
}

.button-section button {
  width: 50%;
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

/* Columns */
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 img {
  max-width: 100%;
  height: auto;
}

/* Log Section */
.container-fluid.log-section {
  padding: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar,
  .logo,
  .intro-section,
  .col-md-4,
  .container-fluid.log-section {
    padding: 10px;
  }
  .col-md-4 img {
    height: auto;
  }

  .intro-section {
    padding: 10px;
  }

  .text-section h1,
  .text-section .intro-paragraph,
  .images,
  .img-info,
  .button-section {
    text-align: center;
  }

  .button-section button {
    width: 60%;
    margin: 10px auto;
  }

  .images div {
    margin: 10px auto;
  }
}
.cosa_serve {
  height: 500px;
  background-color: lavenderblush;
}
.heading {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.description span {
  margin-left: 140px;
}
.images-section {
  width: 60vw;
  height: 100px;
  margin-left: 200px;
  display: flex;
  justify-content: space-evenly;
}
.hexagon-images {
  width: 90px;
  height: 80px;
  background-color: transparent;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  overflow: hidden;
  transition: border-color 0.3s ease;
  object-fit: contain;
}

.hexagon-images:hover {
  border-color: #007bff;
}

.hexagon-images img {
  max-width: 80%;
  height: auto;
  display: block;
}
.paragraphs {
  width: 100%;
  height: 50px;
}
.paragraphs p {
  font-weight: bold;
  font-size: 18px;
  word-wrap: break-word;
}
.paragraphs button {
  width: 300px;
  height: 40px;
  background-color: #232384;
  color: white;
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .images-section {
    width: 70%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 992px) {
  .images-section {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .cosa_serve {
    height: auto;
  }

  .heading h2 {
    font-size: 1.5em;
  }

  .description {
    flex-direction: column;
    text-align: center;
  }

  .description span {
    margin-left: 0;
    margin-top: 10px;
    display: block;
  }

  .images-section {
    width: 100%;
    margin-left: 0;
    flex-wrap: wrap;
  }

  .hexagon-images {
    width: 45%; /* Adjust width as needed */
    margin: 10px 0;
  }
}

@media screen and (max-width: 770px) {
  .hexagon-images {
    width: 20%;
  }

  .paragraphs button {
    width: 100%;
  }
  .paragraphs {
    height: fit-content;
  }
}

.fourth-section {
  height: 450px;
  margin-top: 60px;
  background-color: lavenderblush;
}
.lists li {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.lists ul li {
  margin-top: 30px;
}
.button-section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.button-section button {
  width: 330px;
  height: 40px;
  background-color: #232384;
  color: white;
  border: none;
  border-radius: 10px;
  border-width: 5px;
  margin-top: 20px;
}
.button-section button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 2px rgba(255, 0, 111, 0.5);
}
@media screen and (max-width: 576px) {
  .heading h1 {
    font-size: 1.5rem;
  }

  .lists li {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 970px) {
  .heading h1 {
    font-size: auto;
  }

  .lists li {
    font-size: 1rem;
    margin-top: auto;
  }
  .button-section {
    margin: 0px;
  }
}
@media screen and (max-width: 576px) {
  .button-section button {
    width: 50%;
    height: 50px;
    margin: 0px;
  }
  .lists li {
    font-size: 14px;
  }
}
@media screen and (max-width: 300px) {
  .button-section {
    height: 100%;
    width: 100%;
    font-size: xx-small;
  }
  .heading h1 {
    font-size: 1rem;
  }
  .lists li {
    font-size: x-small;
  }
}

.fifth-section {
  margin-top: 60px;
  height: 500px;
  width: 100%;
  background-color: lavender;
}
.form-section {
  height: 78%;
  width: 60%;
  position: relative;
  top: 60px;
  border: 2px solid;
  border-left-color: red;
  border-right-color: red;
  border-top: none;
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .form-section {
    width: 80%;
    top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .form-section {
    width: 90%;
    top: 10px;
  }

  .form-section label,
  .form-section input,
  .form-section button {
    font-size: 14px;
  }
}
.third-section {
  width: 100%;
  height: 680px;
  background-color: lavenderblush;
  margin-top: 70px;
}

.third-section h1 {
  margin-top: 80px;
}

.third-section h5 {
  word-wrap: break-word;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 20px;
  margin-bottom: 10px;
}
.texts {
  display: flex;
  flex-direction: column;
}
.image {
  background-color: red;
}

.car-inside-pic {
  height: 90%;
}
.texts .col-md-4 img {
  background: transparent;
  max-height: 50%;
  max-width: 50%;
}
.car-inside-pic button {
  width: 200px;
  height: 40px;
  background-color: #232384;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
.image {
  height: 80%;
  background-color: transparent;
}
.car-picture {
  width: 70%;
  height: 300px;
}
.texts p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}
.row .button3 {
  width: 287px;
  height: 40px;
  background-color: #232384;
  color: white;
  border: none;
  border-radius: 10px;
}
@media (max-width: 575.98px) {
  .texts p {
    font-size: 0.6rem;
  }

  .button3 {
    width: 100%;
    max-width: 150px;
    height: 35px;
    margin-top: 15px;
  }
}

/* For screens between 576px and 767.98px (small devices) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .texts h5 {
    font-size: 1.2rem;
  }

  .texts p {
    font-size: 1rem;
  }

  .button3 {
    width: 100%;
    max-width: 180px;
    height: 40px;
    margin-top: 20px;
  }
  .car-picture {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .texts h5 {
    font-size: 0.7rem;
  }

  .texts p {
    margin: 0px;
    font-size: 0.8rem;
  }

  .button3 {
    width: 100%;
    max-width: 200px;
    height: 45px;
    /* margin-top: 25px; */
  }
  .car-picture {
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .texts h5 {
    font-size: 0.7rem;
  }

  .texts p {
    font-size: 0.6rem;
  }
  .car-picture {
    height: 10%;
    width: 20%;
    border-radius: 50%;
    margin-left: 150px;
  }
  .button3 {
    width: auto;
    height: auto;
    margin-left: 100px;
  }
}
@media screen and(max-width:340px) {
  .texts p {
    font-size: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .texts h5 {
    font-weight: normal;
    font-size: 0.6rem;
  }
  .third-section h1 {
    font-size: 1rem;
    margin-top: 0px;
  }
}
